p {
    margin-right: 50;
    color: blue;
    background-color: yellow;
}

div {
    display: block;
    margin-top: 5;
    margin-block: 40;
    background-color: red;
    color: white;
    line-height: 6;
    margin-left: 50;
}

body {
    margin: 0;
}
a {
    left: 50;
    background-color: green;
}
div h1 {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 0;
    flex: auto;
}
h1 {
    right: 50%;
    text-align: center;
    
}

div h3 {
    background-color: blue;
    margin: 0;
    box-sizing: 40;
    
}