header  {
    
    margin-top: 0%;
    background-color: rgb(15, 15, 15);
    color: white;
   
}
header h1 {
    
    font-size: 65px;
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    
}
body h2 {
    font-style: oblique;
}

body {
    text-align: center;
    margin: 0;
    background: #6b6b6b url("watermelon.png") no-repeat top fixed;
    
}
